* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	background-color: #f6f8fc;
}

.hamburger-menu {
	font-size: 20px;
	color: #5f6368;
	background-color: #eaf1fb;
	height: 64px;
	width: 68px;
}

.hamburger-menu i {
	margin: 0 auto;
}

.hamburger-menu-icon:hover {
	cursor: pointer;
	background-color: #d4d9e1d1;
}

.search-bar {
	background-color: #eaf1fb;
	height: 48px;
	width: 100%;
}

.search-bar div:hover {
	background-color: #d4d9e1d1;
	cursor: pointer;
}

.search-icon, .settings-icon {
	width: 45px;
	height: 38px;
}

.search-bar input {
	background-color: none;
	border: none;
	outline: none;
}

.status-selector {
	height: 48px;
	margin: 0 18px;
	gap: 5px;
	padding: 10px;
	background-color: #eaf1fb;
}

.status-dot {
	color: #1e8e3e;
	font-size: 12px;
}

.status-text {
	font-size: 14px;
}

.status-chevron {
	font-size: 10px;
}

.question-icon, .gear-icon {
	font-size: 22px;
}

.nine-dots-grid {
	width: 40px;
	height: same-as-width;
}

.profile-section {
	height: 48px;
	padding: 5px;
	background-color: rgb(255 255 255 / 88%);
}

.profile-picture {
	width: 33px;
	height: same-as-width;
	margin-left: 5px;
}

.org-logo {
	width: 78px;
}

main {
	height: calc(100vh - 64px);
}

main > * {
	height: 100%;
}

.sidebar {
	background-color: #eaf1fb;
	width: 68px;
}

.sidebar div p {
	font-size: 12px;
}

.sidebar i {
	width: 44px;
	height: 30px;
}

.sidebar i.active  {
	background-color: #d3e3fd;
}

.sidebar i:not(.active):hover {
	cursor: pointer;
	background-color: #dddbd7d1;
	transition: 0.6s;
}

.content {
	width: calc(100vw - 68px);
}

.content-left {
	width: 256px;
}

.compose-btn {
	width: 56%;
	height: 55px;
	background-color: #c2e7ff;
}

.compose-btn:hover {
	cursor: pointer;
	box-shadow: -0.1rem 0.1rem 1px rgba(0, 0, 0, 0.2), 0.1rem 0.1rem 1px rgba(0, 0, 0, 0.2);
}

.compose-text {
	font-size: 14px;
}

.inbox-select div {
	font-size: 14px;
}

.inbox-select-btn.active {
	background-color: #d3e3fd;
	font-weight: bold;
}

.inbox-select-btn:not(.active):hover {
	cursor: pointer;
	background-color: #e3e3e3;
}

.labels-icon:hover {
	cursor: pointer;
	background-color: #d4d9e1d1;
	transition: 0.2s;
}

.content-right {
	width: calc(100vw - 324px);
}

.toolbar {
	height: 48px;
	background-color: rgb(255 255 255);
}

.toolbar-left {
	font-size: 14px;
	gap: 30px;
}

.checkbox {
	font-size: 16px;
}

.checkbox.unchecked {
	color: #c3c3c3;
}

.toolbar-right {
	margin-left: auto;
	font-size: 12px;
	gap: 25px;
}

.caret-down-icon {
	font-size: 10px;
}

.mails {
	background-color:#f0f6ff;
}

.mail {
	height: 40px;
	font-size: 14px;
}

.mail:hover {
	cursor: pointer;
	box-shadow: -1px 0.1rem 1px rgba(0, 0, 0, 0.2), 1px 0.1rem 0 rgba(0, 0, 0, 0.2);
}

.mail:hover .checkbox, .mail:hover .star-icon {
	color: black;
}

.mail:hover .grip-vertical-icon::before {
	visibility: visible;
}

.mail:hover .mail-timestamp {
	display: none;
}

.mail:hover .mail-hover-items {
	display: flex;
}

.mail:hover .mail-line {
	width: 700px;
}

.grip-vertical-icon {
	color: #8c97a3;
}

.grip-vertical-icon::before {
	cursor: grab;
	visibility: hidden;
}

.star-icon {
	color: #c3c3c3;
}

.mail-line {
	width: 760px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mail-sender {
	color: rgb(32, 33, 36);
}

.mail-subject {
	color: rgb(32,33,36);
}

.mail-body {
	color: rgb(95,99,104);
}

.mail-timestamp {
	font-size: 12px;
	min-width: 56px;
}

.mail-hover-items {
	font-size: 16px;
	width: 190px;
	display: none;
}