* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.hamburger-menu {
	font-size: 20px;
	color: #5f6368;
	background-color: #eaf1fb;
	height: 64px;
	width: 68px;
}

.hamburger-menu i {
	margin: 0 auto;
}

.org-logo {
	width: 80px;
}

.search-bar {
	background-color: #eaf1fb;
	height: 48px;
}

.search-bar div:hover {
	background-color: #d4d9e1d1;
	cursor: pointer;
}

.search-icon, .settings-icon {
	width: 40px;
	height: 40px;
}

.search-bar input {
	background-color: none;
	border: none;
	outline: none;
}

.section-right {
	margin-right: 0;
}

.status-selector {
	height: 48px;
	margin: 0 18px;
	gap: 5px;
	padding: 10px;
	background-color: #eaf1fb;
}

.status-dot {
	color: #1e8e3e;
	font-size: 12px;
}

.status-text {
	font-size: 14px;
}

.status-chevron {
	font-size: 10px;
}

.question-icon, .gear-icon {
	font-size: 22px;
}

.nine-dots-grid {
	width: 25px;
	height: same-as-width;
}

.profile-section {
	height: 48px;
	padding: 5px;
}

.profile-picture {
	width: 32px;
	height: same-as-width;
	margin-left: 5px;
}

main {
	height: calc(100vh - 64px);
}

main > * {
	height: 100%;
}

.main-1 {
	background-color: #eaf1fb;
	width: 68px;
}

.main-1 div p {
	font-size: 12px;
}

.main-2-left {
	width: 256px;
}

.main-2-right {
	width: calc(84vw - 256px);
}

.main-3 * {
	width: 35px;
	margin-bottom: 10px;
}

.main-3 *:last-child {
	margin-top: auto;
}
